/* PERGUNTAS DO BRIEFING */
/* PERGUNTAS DO BRIEFING */
/* PERGUNTAS DO BRIEFING */

h1{
    text-align: center;
}
.collapse{
    margin-bottom: 3%;
}

/* botão cinza com a pergunta */
.collapse-button{
    cursor: pointer;

    width: 75%;
    border: none;

    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;

    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;

    &:hover{
        background-color:  #EF7F34;
    }

    border-radius: 12px;

}

/* quem coloca a classe active é o javascript, aí a setinha gira 90 graus */
.collapse-button.active .collapse-img {
    transform: rotate(90deg);
}
.collapse-button.active{
    border-radius: 12px 12px 0px 0px;
}

/* a resposta começa escondida, o javascript troca o display pra block */
.collapse-conteudo{
    display: none;

    width: 75%;
    border: none;

    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;

    background-color:  #404040;
    color: white;
    justify-content: space-between;

    p{
        text-align: justify;
    }

    border-radius: 0px 0px 12px 12px;

}


/* setinha do lado direito do botão */
.collapse-img{
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../fotos/seta.png);

    transition: transform 0.2s ease;
}
