body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(128, 236, 95);
    margin: 0;
    padding: 0;
}
main {
    background-color: rgb(192, 192, 192);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}


.prod-destaque-container {
    position: relative;
    overflow: hidden;
    aspect-ratio: 21 / 7;
}
.prod-destaque-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    display: block;
}
.prod-destaque-container p {
    position: absolute;
    bottom: 0;
    padding: 2.5%;
    color: white;

    /* width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent); */
}


.espacado-deitado {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.esquerda {
    margin-left: 3%;
    justify-content: left;
}
.espaco-esquereda-direita{
    margin-left: 3%;
    margin-right: 3%;
}

.deitado {

    list-style: none;
    display: flex;
    gap: 30px;

}


footer {
    background-color: rgb(128, 236, 95);
    margin: 0;
    padding: 0;
}
.bloco-footer{
    width: 10%;
}
.bloco-footer h3{
    text-align: left;
}
.copyright p {
    color:rgb(58, 58, 58)
}

