body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;

    /* ANTES DA TRANSIÇÃO */
    box-shadow: 0 4px 12px rgba(0,0,0,0);
    color: white;
    background-color: rgba(255, 255, 255, 0); 
    
    /* APÓS TRANSIÇÃO */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

#site-header.scrolled {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: black;
}

.espacado-deitado {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.prod-destaque-container {
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 21 / 7;
}

.prod-destaque-container img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    display: block;
}

#destaque-texto{
    position: absolute;
    bottom: 0;
    padding: 2.5%;
    color: white;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

#destaque-texto h1{
    margin-left: 55%;
    text-align: left;
    font-size: 2.5vw;
}
#destaque-texto h2{
    margin-left: 55%;
    text-align: left;
    font-size: 1.5vw;
}

#destaque-texto button{
    margin-left: 55%;
    width: 150px;
    height: 50px;
    background-color: #EF7F34;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover{
    background-color: #a15827;
    color: white;
    }
}


footer {
    background-color: #151515;
    padding-top: 70px;
    color: white;
    display: flex;
    box-shadow: 0 10px 110px rgba(0, 0, 0, 0.5);
}

.footer-col{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 0px;
}
.footer-col h3{
    font-size: 1vw;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: lighter;
    word-spacing: 6px;
}

.footer-col h4{
    font-size: 0.8vw;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: lighter;
    word-spacing: 6px;
}

.copyright{
    color: grey;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: -374.92px;
}

.deitado {

    list-style: none;
    display: flex;
    gap: 30px;

}

main {
    margin-top: 70px;
    padding: 0;
    margin-bottom: 500px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

/* Definição da classe para usar na lista de bicicletas*/
#produtos section{
    margin-left: 50px;
    margin-top: 50px;

    /* TIRAR SCROLLBAR */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.vitrine::-webkit-scrollbar {
  display: none;
}

#produtos h2{
    font-size: 1.5rem;
}
#produtos h3{
    margin-top: -10px;
    color: grey;
    font-size: 1.2rem;
}
.vitrine img {
    height: 280px;
    margin-right: 20px;
    margin-left: 0px;
    object-fit: contain;
    border-radius: 20px;
}

.vitrine {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    gap: 0px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* classe para que o flex não esprema as imagens */
.vitrine li {
    flex-shrink: 0;
}

.carrossel {
    position: relative;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    /* aparencia do botao */
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.seta-esquerda {
    left: -40px;
}

.seta-direita {
    right: 10px;
}
.seta:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

hr{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}